{
	"enabled": true,
	"port": 3080,
	"mac": "<YOUR DEV ID>",
	"valveId": "<4 digit valve ID>",
	"disableDNS": false,
	"dnsForwarder": "8.8.8.8",
	"bindDNS": "192.168.0.1",
	"myIP": "192.168.0.1",
	"loglevel": "debug"
}
